.clipPathR{
-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}

.clipPathL{
-webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);}


.glass{
    
/* From https://css.glass */
background: rgba(165, 180, 252, 0.43);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.9px);
-webkit-backdrop-filter: blur(10.9px);
border: 1px solid rgba(165, 180, 252, 0.41);
}

.bg{
background-color:#eef2ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M644.47 645.42C745.96 635.37 704.05 430.13 983.93 419.17 1263.81 408.21 1482.79 181.9 1662.85 178.37' stroke='rgba(99%2c 102%2c 241%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M528.8 569.53C679.76 566.51 793.9 373.4 1097.61 366.44 1401.31 359.48 1513.63 146.43 1666.41 142.44' stroke='rgba(99%2c 102%2c 241%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M390.61 568.07C531.93 544.92 598.04 204.49 829.91 200.49 1061.79 196.49 1049.57 270.49 1269.22 270.49 1488.87 270.49 1597.31 200.71 1708.52 200.49' stroke='rgba(99%2c 102%2c 241%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M370.82 671.22C553.05 644.84 654.08 216.02 948.9 214.87 1243.71 213.72 1372.03 435 1526.97 438.87' stroke='rgba(99%2c 102%2c 241%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M450.02 586.53C647.96 544.42 734.44 30.63 1036.41 28.51 1338.39 26.39 1461.67 291.01 1622.81 297.31' stroke='rgba(99%2c 102%2c 241%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}