@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";

:root{
    /* Indigo 600  */
   --primary-color: #4f46e5; 
    /* Indigo 500  */
   --primary-color-hover: #6366f1; 
   
}
html{
    scroll-behavior: smooth;
}


.calendly-inline-widget {
display:block;
 min-height: 150vh;
 height: 150vh;
 max-height: 200vh;
 overflow:overlay; 
}

#heropic{
    /* background-image:url('./images/alexandru-marcu-specialist-seo.png') */
}

.quill, .ql-editor {
    height:inherit;
    min-height:75vh;
}