.container{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
}


.form{
    min-width:30vw;
    min-height:30vh;
-webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 6px 35px 2px rgba(129,129,129,0.43); 
box-shadow: 0px 10px 13px -7px #000000, 6px 6px 35px 2px rgba(129,129,129,0.43);
background: var(--primary-color);
display: flex row;
justify-content:space-evenly;
padding-bottom:1rem;

}


.group{
display:flex;
justify-content:space-between;

margin: 1rem;


}

.group input{
    align-self:flex-end;
    border:0;
    border-bottom: 1px solid var(--primary-color);
-webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 6px 35px 2px rgba(129,129,129,0.43); 
box-shadow: 0px 10px 13px -7px #000000, 6px 6px 35px 2px rgba(129,129,129,0.43);
}

.group label, .group input{
    margin: 1rem;
    border-radius:10px;
}

.group label{
    color:white;
    text:bold;
}

.button{
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    display:flex;
    margin: auto;
    padding: 1rem;
    fontweight: bold;
    color:white;
}
    
    
    